.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(113, 113, 113);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2em;
  position: relative;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
}

.navbar h3{
  color: white;
  font-size:35px;
  position: absolute; /* Add this line to position the h3 absolutely */
  left: 50%; /* Move the h3 to the horizontal center */
  transform: translateX(-50%);
  font-family: 'Montserrat', sans-serif;
  
}

.navbar h4{
  color: rgb(113, 113, 113);;
}